<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61201575676-god8lm4c5m5rtvrvvpa0mgrhftgf81l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61201575676-god8lm4c5m5rtvrvvpa0mgrhftgf81l5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>61201575676-n623c37v9hmm4g8gvug4vambh6bb1p0e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMBuhPbafRsu9hy3HpYwZwscPgsRyn9hM</string>
	<key>GCM_SENDER_ID</key>
	<string>61201575676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jamguhTriva</string>
	<key>PROJECT_ID</key>
	<string>jamguhtrivia</string>
	<key>STORAGE_BUCKET</key>
	<string>jamguhtrivia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61201575676:ios:7d767f0ee22bdd4ad9f179</string>
</dict>
</plist>